---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name | xmlEscape }}</title>
  <subtitle>{{ site.description | xmlEscape }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  {% if collections.posts.length %}<updated>{{ collections.posts[0].date | dateIso }}</updated>{% endif %}
  <author><name>{{ site.author | xmlEscape }}</name></author>
  {% for post in collections.posts | take(20) %}
  <entry>
    <title>{{ post.data.title | xmlEscape }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | dateIso }}</updated>
    <summary>{{ post.data.excerpt | default(post.data.title) | xmlEscape }}</summary>
  </entry>
  {% endfor %}
</feed>
